# Database
NEON_URL=

# Paystack
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Site URL
NEXT_PUBLIC_SITE_URL=

# Admin
ADMIN_LOGIN_EMAIL=
ADMIN_LOGIN_PASSWORD=
ADMIN_SESSION_SECRET=

# Room editor
NEXT_PUBLIC_MAX_ROOM_IMAGES=

# Resend
RESEND_KEY=
RESEND_ME=



